@import url("../components/modal.css");
@import url("../components/colors.css");
@import url("../components/cards.css");

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&family=Plus+Jakarta+Sans:ital,wght@0,400;1,200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    width: 100%;
    height: 100vh;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;  
    padding: 10px;
    margin-bottom: 10px;
    background-color: var(--red-2);
}

.btn{
    padding:4px 20px;
    border-radius: 5px;
    transition: 0.5s;
}

.btn-red-outlined{ border: solid 1px var(--red-1); color: var(--red-1); }
.btn-red-outlined:hover{ background-color: var(--red-1); color: white; cursor: pointer; }

.btn-red{
    background-color: var(--red-1);
    color: white;
}

.circles {
    display: flex;
    gap: 20px;
}

.circle-blue{
    width:50px;
    height: 50px;
    background-image: radial-gradient(circle, #28abfd, #259eeb, #2192d9, #1e86c7, #1b7ab6, #1972aa, #17699e, #156192, #145b88, #13547e, #124e75, #11486b);
    border-radius: 50%;
    border: 1px solid var(--gray-3);
}

.circle-small {
    display: flex;
    gap: 10px;
}

.circle-red, .circle-yellow, .circle-green{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid var(--gray-3);
}

.circle-red {background-image: radial-gradient(circle, #db092c, #d1082a, #c70827, #bd0725, #b30723, #ab0722, #a40720, #9c071f, #95071e, #8d081d, #86081c, #7f081b);}
.circle-yellow {background-image: radial-gradient(circle, #f5da2d, #e5cb28, #d5bc22, #c6ad1d, #b69f18, #b19b1b, #ac961e, #a79220, #aa9629, #ae9a32, #b19f39, #b5a341);}
.circle-green {background-image: radial-gradient(circle, #4fae5d, #32955a, #187c54, #03644a, #004c3e, #004137, #003730, #012d29, #022c28, #032b27, #042a26, #052925);}


.title {
    font-size: 52px;
    font-family: var(--font-title);
    color: white;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 13px;
    font-family: var(--font-text);
    font-weight: 600;
}

nav img {
    width: 40px;
}

figure figcaption {
    color: var(--gray-1);
}

/* CONTEÚDO PRINCIPAL */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search {
    display: flex;
    gap:20px;
}

.search a  {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color:var(--green-2);
    border: 2px solid var(--gray-3);
}

.search input {
    width: 450px;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: var(--green-1);
    font-size: 18px;
    color: #fff;
    outline: none;
    border: none;
    transition: 0.2s
}

.list-tips {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px;
    list-style: none;
    flex-wrap: wrap;
    width: 90%;
}

.tips {
    padding: 8px 15px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 0.5em;
    min-width: 120px;
    text-align: center;
    color: #000;
}

.tips:hover {
    color: #fff;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color:#DB092C;
    background-color:var(--gray-1);
    width: 90%;
    margin: 20px 0px 20px 0px;
    padding-bottom: 20px;
    border-radius: 20px;
}

.circle-search{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--green-2);
    border-radius: 100%;
    height: 50px;
    width: 50px;
}
.icon{ width: 60%; height: 60%;  }